body{
    font-family: 'Poppins', sans-serif;
    margin: 20px;
}

ul{

    float: right;
    margin-right: 200px;
    padding-left: 100px;
    display: flex;
    justify-content: space-between;
    margin-left: 200px;

}
li{
    list-style: none;
    margin: 10px 0;
    margin-left: 100px;
   
}
.home{
    margin-right: 100px;
}
.offers{
    margin-right: 100px;
}
.contact{
    margin-right: 100px;
}
strong{
    position: relative;
    top: -20px;
    font-size: 50px;
    font-family: 'Festive', cursive;
font-family: 'Source Serif Pro', serif;
}
button{
    background-color: orange;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    
    
}
.big-burger{
    float: right;
    height: 350px;
    position: relative;top: -200px;
    padding: -100px;
    margin-left: 10px;
}
p{
    color:gray;
}

.seek{
    display: flex;
     align-items: center;
}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 450px;
    margin: 20px;
    border-radius: 25px;
    padding: 30px;
}
.cards{

 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 450px;
    margin: 20px;
    border-radius: 25px;
    padding: 30px;
}
}
.cards{
    align-items: center;
}
.small-burger{
    width: 500px;
    float: right;
    

    
 