body{
    font-family: 'Poppins', sans-serif;
    margin: 20px;
     background: #fefefe;
}
a{
    text-decoration: none;
    color: black;
}

.navbar-items{

    float: right;
    margin-right: 200px;
    padding-left: 100px;
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    list-style: none;

}
li{
    margin: 10px 0;
    margin-left: 100px;
   list-style: none;
}
.home{
    margin-right: 100px;
    text-decoration: underline brown 5px ;
    
    
}
.offers{
    margin-right: 100px;
}
.contact{
    margin-right: 100px;
    
} 
strong{
    position: relative;
    top: -20px;
    font-size: 50px;
    font-family: 'Festive', cursive;
font-family: 'Source Serif Pro', serif;
}
button{
    background-color: orange;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    
    
}
.big-burger{
    float: right;
    height: 350px;
    position: relative;top: -200px;
    padding: -100px;
    margin-left: 10px;
}
p{
    color:gray;
    
}

.seek{
    display: flex;





     color: brown;
    
}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 500px;
    margin: 10px;
    border-radius: 25px;
    background-color:rgb(255,255,255) ;
    
}
.small-burger{
    width: 500px;
    float: right;
}
.food{
    text-align: center;

}
.box{
    box-shadow: 0 -1px 4px 0 purple;
    transition: 0.3s;
    height: 200px;
    margin: 20px;
    border-radius: 25px;
    padding: 30px;
    width: 500px;
    margin-top: 20px;
    /* margin-bottom: 20px; */
    margin-left: 20px;
    padding-bottom: 150px;

}   
.tall{
 display:flex;
 color: brown;
 /* margin: 100px; */
 background-color:rgb(247,253,246) ;
 padding: 100px 100px 100px 100px;
 height: 500px;
}
.dd{
    height: 500px;
    align-items: left;
    padding: 10px;
    
}
.apps{
    color: black;
    background-color: #f6b400;
    height: 500px;

    padding: 100px;
    
    
}
.top-icon{
    margin-top: 0%;
}
.food-dish{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 2000px;
   

}
.box2{
    box-shadow: 0 -1px 4px 0 purple;
    transition: 0.3s;
    height: 200px;
    margin: 20px;
    border-radius: 25px;
    padding: 100px;
    width: 300px;
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
    }
h1{
    /* align-items: center; */
}
.dots{
    display: flex;
    padding: 200px;
    margin-right: 10px;
}
.orange-dot{
    /* border: 2px solid red; */
 width: 10px;
 border-radius: 50%;
 height: 10px;
 background:rgb(241,107,48);

}
.grey-dot{
    width: 10px;
 border-radius: 50%;
 height: 10px;
 background:rgb(196,196,196);

}
.final{
    font-size: 20px;
}
.end{
    height: 100px;
    text-align: center;
}
    
.pics{
    display: flex;
    

}
.begin{
    height: 500px;
}
.container{
    text-align: center;
}
.quick-links{
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    /* margin-top: 10px; */
    /* padding: 5px 5px; */
    /* margin: 10px 10px; */
    

}
.sitemap{
    text-align: center;
    /* margin-top: 3px; */
    /* padding-top: auto; */
    margin: 0 auto;
}
.Email{
    display: flex;
    /* justify-content: flex-end; */
    flex-direction: column;
    /* float: right; */
    /* margin: 0 auto; */
    text-align: right;
}




